@use "./shared" as *;
$gap: 40px;

#testimonialsSection {
    isolation: isolate;
    background-color: $bg-color;
    .container {
        @include section_padding;
    }
    .cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        justify-content: center;
        gap: $gap;
        margin-top: 75px;
        @media (width <= 575px) {
            grid-template-columns: repeat(auto-fit, 100%);
        }
    }
    .card {
        position: relative;
        background-color: #fff;
        padding: 0 15px;
    }
    .image {
        position: absolute;
        right: -10px;
        top: 0;
        transform: translateY(-50%);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        border: 10px solid $bg-color;
    }
    p {
        @include cutoff_text;
    }
    i {
        color: #ffc107;
    }
}
