@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800&family=Neucha&display=swap");
@-webkit-keyframes coloringLeftHeading {
  0% {
    left: -25px;
  }
  30% {
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 0;
  }
  100% {
    left: 0%;
    height: 100%;
    width: 51%;
    border-radius: 0;
  }
}
@keyframes coloringLeftHeading {
  0% {
    left: -25px;
  }
  30% {
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 0;
  }
  100% {
    left: 0%;
    height: 100%;
    width: 51%;
    border-radius: 0;
  }
}
@-webkit-keyframes coloringRightHeading {
  0% {
    right: -25px;
  }
  30% {
    right: 0;
    height: 100%;
    width: 0;
    border-radius: 0;
  }
  100% {
    right: 0%;
    height: 100%;
    width: 51%;
    border-radius: 0;
  }
}
@keyframes coloringRightHeading {
  0% {
    right: -25px;
  }
  30% {
    right: 0;
    height: 100%;
    width: 0;
    border-radius: 0;
  }
  100% {
    right: 0%;
    height: 100%;
    width: 51%;
    border-radius: 0;
  }
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 768px) {
  .container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (min-width: 768.02px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992.02px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200.02px) {
  .container {
    max-width: 1140px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

p {
  color: #777;
}

.section-heading {
  margin-bottom: 50px;
}
.section-heading h1 {
  position: relative;
  text-transform: uppercase;
  padding: 10px 30px;
  border: 2px solid #000;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  margin: auto;
  transition: all 0.5s;
}
@media (max-width: 575px) {
  .section-heading h1 {
    font-size: 1.8em;
  }
}
.section-heading h1::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translate(0, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #2196f3;
  z-index: -1;
}
@media (width <= 575px) {
  .section-heading h1::before {
    display: none;
  }
}
.section-heading h1::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translate(0, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #2196f3;
  z-index: -1;
}
@media (width <= 575px) {
  .section-heading h1::after {
    display: none;
  }
}
.section-heading h1:hover {
  color: #fff;
}
@media (width <= 575px) {
  .section-heading h1:hover {
    background-color: #2196f3;
  }
}
.section-heading h1:hover::before {
  -webkit-animation: coloringLeftHeading 0.5s ease-in-out;
          animation: coloringLeftHeading 0.5s ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.section-heading h1:hover::after {
  -webkit-animation: coloringRightHeading 0.5s ease-in-out;
          animation: coloringRightHeading 0.5s ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

header {
  background-color: #fff;
  height: 60px;
  display: flex;
  align-items: center;
}
header .container {
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  header .container {
    padding-top: 0;
    padding-bottom: 0;
  }
}
header .logo {
  color: #2196f3;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 2px;
}
@media (max-width: 575px) {
  header .logo {
    font-size: 1.8em;
    letter-spacing: 0;
  }
}
header ul#mainNav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header ul#mainNav li {
  position: relative;
  transition: all 0.5s;
}
header ul#mainNav li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 0;
  background-color: #2196f3;
  transition: all 0.5s;
}
header ul#mainNav li:hover {
  background-color: #fafafa;
}
header ul#mainNav li:hover::before {
  width: 100%;
}
header ul#mainNav li:hover a {
  color: #2196f3;
}
header ul#mainNav a {
  color: #000000;
  display: block;
  padding: 20px 30px;
  text-transform: capitalize;
  font-size: 1.125em;
}
header ul#mainNav.show {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #fafafa;
  align-items: flex-start;
  position: absolute;
  right: 0;
  top: 61px;
  z-index: 1;
}
header ul#mainNav.show li {
  width: 100%;
}
header ul#mainNav.show li:not(:last-of-type) {
  border-bottom: 1px solid #aaa;
}
header ul#mainNav.show li::before {
  top: auto;
  bottom: 0;
}
header #icon {
  display: none;
}
header #megaMenu {
  position: absolute;
  width: 100%;
  top: 60px;
  left: 0;
  z-index: 1;
  display: none;
  justify-content: space-between;
  gap: 2%;
  background: #fff;
  padding: 30px;
  border-bottom: 3px solid #2196f3;
}
@media (max-width: 992px) {
  header #megaMenu {
    gap: 5%;
  }
}
@media (max-width: 768px) {
  header #megaMenu {
    gap: 0;
    flex-direction: column;
    padding: 0;
  }
}
header #megaMenu .image {
  flex-basis: 45%;
}
@media (max-width: 992px) {
  header #megaMenu .image {
    display: none;
  }
}
header #megaMenu .image img {
  max-width: 100%;
}
header #megaMenu ul {
  flex-basis: 24%;
}
@media (max-width: 992px) {
  header #megaMenu ul {
    flex-basis: 50%;
  }
}
@media (max-width: 768px) {
  header #megaMenu ul {
    flex-basis: 100%;
  }
}
header #megaMenu li {
  position: relative;
}
header #megaMenu li:not(:last-of-type) {
  border-bottom: 1px solid #e9e6e6;
}
header #megaMenu li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #fafafa;
  transition: all 0.5s;
  z-index: -1;
}
header #megaMenu li:hover::before {
  width: 100%;
}
header #megaMenu a {
  display: block;
  padding: 15px 15px;
  color: #2196f3;
  font-weight: bold;
  font-size: 1.125em;
}
header #megaMenu i {
  margin-right: 7px;
  width: 20px;
}
@media (max-width: 768px) {
  header #icon {
    display: block;
  }
  header ul#mainNav {
    display: none;
  }
}

section#welcomeSection {
  position: relative;
  height: calc(100vh - 60px);
}
section#welcomeSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 95%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 95%);
  z-index: -10;
}
section#welcomeSection .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10vh;
}
section#welcomeSection .image {
  flex-basis: 65%;
  position: relative;
  -webkit-animation: imgUpAndDown 1s ease-in-out infinite alternate;
          animation: imgUpAndDown 1s ease-in-out infinite alternate;
}
@media (max-width: 992px) {
  section#welcomeSection .image {
    display: none;
  }
}
section#welcomeSection .text {
  max-width: 100%;
  width: 500px;
}
@media (max-width: 992px) {
  section#welcomeSection .text {
    text-align: center;
  }
}
section#welcomeSection h1 {
  margin-top: 0;
  font-size: 2.5em;
}
@media (max-width: 768px) {
  section#welcomeSection h1 {
    font-size: 1.75em;
  }
}
section#welcomeSection p {
  color: #666;
  font-size: 1.5em;
}
@media (max-width: 768px) {
  section#welcomeSection p {
    font-size: 1.125em;
  }
}
section#welcomeSection #arrowIcon {
  position: absolute;
  bottom: 20px;
  color: #2196f3;
  font-size: 1.8em;
  -webkit-animation: arrowUpAndDown 0.5s ease-in-out infinite alternate;
          animation: arrowUpAndDown 0.5s ease-in-out infinite alternate;
}
section#welcomeSection #arrowIcon a {
  color: #2196f3;
}

@-webkit-keyframes arrowUpAndDown {
  from {
    bottom: 20px;
  }
  to {
    bottom: 35px;
  }
}

@keyframes arrowUpAndDown {
  from {
    bottom: 20px;
  }
  to {
    bottom: 35px;
  }
}
@-webkit-keyframes imgUpAndDown {
  from {
    bottom: 20px;
  }
  to {
    bottom: 35px;
  }
}
@keyframes imgUpAndDown {
  from {
    bottom: 20px;
  }
  to {
    bottom: 35px;
  }
}
section#articleSection .container {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 768px) {
  section#articleSection .container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
section#articleSection .cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: space-between;
  gap: 30px;
}
section#articleSection .card {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s;
}
section#articleSection .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}
section#articleSection .card:hover .read-more i {
  transform: translateX(5px);
}
section#articleSection .image img {
  width: 100%;
}
section#articleSection .content {
  padding: 0px 15px 15px;
}
section#articleSection .content p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
  line-height: 1.5;
}
section#articleSection .wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section#articleSection .read-more {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border: none;
  font-weight: bold;
  color: #2196f3;
  cursor: pointer;
  border-top: 1px solid #ddd;
}
section#articleSection .read-more i {
  transition: all 0.5s;
}

#gallerySection {
  background-color: #ececec;
  position: relative;
  isolation: isolate;
}
#gallerySection::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #ececec;
  background-size: 30px;
  background-repeat: repeat;
  background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
}
#gallerySection .container {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 768px) {
  #gallerySection .container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
#gallerySection .cards-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
#gallerySection .card {
  padding: 15px;
  background-color: #fff;
  flex-basis: calc(33% - 20px);
}
@media (width <= 992px) {
  #gallerySection .card {
    flex-basis: calc(50% - 20px);
  }
}
@media (width <= 575px) {
  #gallerySection .card {
    flex-basis: 100%;
  }
}
#gallerySection .card .image {
  overflow: hidden;
  transition: 0.3s;
  position: relative;
}
#gallerySection .card .image::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transition: 0.3s;
  background-color: rgba(221, 221, 221, 0.3215686275);
}
#gallerySection .card img {
  width: 100%;
  transition: 0.3s;
}
#gallerySection .card .image:hover img {
  transform: scale(1.2) rotate(10deg);
}
#gallerySection .card .image:hover::after {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#featuresSection .container {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 768px) {
  #featuresSection .container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
#featuresSection .cards-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
@media (width <= 992px) {
  #featuresSection .cards-container {
    justify-content: center;
  }
}
#featuresSection .cards-container .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding-bottom: 20px;
  flex-basis: calc(33% - 30px);
}
@media (width <= 992px) {
  #featuresSection .cards-container .card {
    flex-basis: calc(50% - 30px);
  }
}
@media (width <= 575px) {
  #featuresSection .cards-container .card {
    flex-basis: 100%;
  }
}
#featuresSection .cards-container .card .image {
  position: relative;
  isolation: isolate;
  overflow: hidden;
}
#featuresSection .cards-container .card .image::before {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  -webkit-clip-path: polygon(100% 70%, 0% 100%, 101% 100%);
          clip-path: polygon(100% 70%, 0% 100%, 101% 100%);
  background: #fff;
  z-index: 1;
}
#featuresSection .cards-container .card .image::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
#featuresSection .cards-container .card .content {
  padding: 15px;
  text-align: center;
}
#featuresSection .cards-container .card .content h3 {
  font-size: 2.3em;
  font-weight: bolder;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  position: relative;
  padding: 15px 0;
  margin-bottom: 25px;
}
@media (max-width: 575px) {
  #featuresSection .cards-container .card .content h3 {
    font-size: 1.7em;
  }
}
#featuresSection .cards-container .card .content h3::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;
  width: 80%;
  height: 4px;
}
#featuresSection .cards-container .card .content p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.8;
  font-size: 1.15em;
}
#featuresSection .cards-container .card button {
  padding: 10px 25px;
  background: transparent;
  border: 2px solid;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2em;
  position: relative;
}
#featuresSection .cards-container .card button::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: calc(100% - 1px);
  transition: 0.3s;
  z-index: -1;
}
#featuresSection .cards-container .card:first-of-type .image::after {
  background-color: #f44036;
}
#featuresSection .cards-container .card:first-of-type .content h3::after {
  background-color: #f44036;
}
#featuresSection .cards-container .card:first-of-type button {
  border-color: #f44036;
  color: #f44036;
}
#featuresSection .cards-container .card:first-of-type button::after {
  background-color: #f44036;
}
#featuresSection .cards-container .card:nth-of-type(2) .image::after {
  background-color: #009688;
}
#featuresSection .cards-container .card:nth-of-type(2) .content h3::after {
  background-color: #009688;
}
#featuresSection .cards-container .card:nth-of-type(2) button {
  border-color: #009688;
  color: #009688;
}
#featuresSection .cards-container .card:nth-of-type(2) button::after {
  background-color: #009688;
}
#featuresSection .cards-container .card:nth-of-type(3) .image::after {
  background-color: #03a9f4;
}
#featuresSection .cards-container .card:nth-of-type(3) .content h3::after {
  background-color: #03a9f4;
}
#featuresSection .cards-container .card:nth-of-type(3) button {
  border-color: #03a9f4;
  color: #03a9f4;
}
#featuresSection .cards-container .card:nth-of-type(3) button::after {
  background-color: #03a9f4;
}
#featuresSection .cards-container .card:hover .image::before {
  -webkit-clip-path: polygon(0 70%, 0 100%, 99% 100%);
          clip-path: polygon(0 70%, 0 100%, 99% 100%);
}
#featuresSection .cards-container .card:hover button {
  color: #fff;
}
#featuresSection .cards-container .card:hover button::after {
  width: 100%;
}

#testimonialsSection {
  isolation: isolate;
  background-color: #ececec;
}
#testimonialsSection .container {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 768px) {
  #testimonialsSection .container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
#testimonialsSection .cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 40px;
  margin-top: 75px;
}
#testimonialsSection .card {
  position: relative;
  background-color: #fff;
  padding: 0 15px;
}
#testimonialsSection .image {
  position: absolute;
  right: -10px;
  top: 0;
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid #ececec;
}
#testimonialsSection p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#testimonialsSection i {
  color: #ffc107;
}

#teamMembersSection {
  isolation: isolate;
}
#teamMembersSection .container {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 768px) {
  #teamMembersSection .container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
#teamMembersSection .cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 30px;
  justify-content: center;
}
#teamMembersSection .card {
  display: flex;
  justify-content: end;
  transition: 0.3s;
  border-radius: 15px;
  overflow: hidden;
}
#teamMembersSection .wrapper {
  position: relative;
  isolation: isolate;
  background-color: #f3f3f3;
  padding: 60px 15px 15px;
  border-radius: 15px;
  width: calc(100% - 50px);
}
#teamMembersSection .wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  transition: 0.3s;
  background: #ececec;
  border-radius: 15px;
  z-index: -1;
}
#teamMembersSection .card:hover .image {
  filter: grayscale(1);
}
#teamMembersSection .card:hover h3 {
  color: #777;
}
#teamMembersSection .card:hover .wrapper::before {
  width: 100%;
}
#teamMembersSection .imageAndIcons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
#teamMembersSection .social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#teamMembersSection .social-media i {
  margin: 20px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
}
#teamMembersSection .image {
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  left: -60px;
  width: calc(100% + 20px);
  max-height: 100%;
}
#teamMembersSection h3 {
  color: #2196f3;
  font-size: 1.3em;
  margin-bottom: 0;
}
#teamMembersSection p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #000;
}
#teamMembersSection a {
  color: #777;
}
#teamMembersSection a:hover i {
  color: #2196f3;
}

#servicesSection {
  background-color: #ececec;
  position: relative;
  isolation: isolate;
}
#servicesSection::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #ececec;
  background-size: 30px;
  background-repeat: repeat;
  background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
}
#servicesSection .container {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 768px) {
  #servicesSection .container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
#servicesSection .cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  counter-reset: myCounter;
}
#servicesSection .card {
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.13), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  transition: 0.3s;
  background-color: #fff;
  flex-basis: calc(33% - 30px);
}
@media (width <= 992px) {
  #servicesSection .card {
    flex-basis: calc(50% - 30px);
  }
}
@media (width <= 575px) {
  #servicesSection .card {
    flex-basis: 100%;
  }
}
#servicesSection .card::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0%;
  height: 3px;
  background-color: #2196f3;
  transition: 0.3s;
}
#servicesSection .card .image {
  text-align: center;
  padding: 2rem 1rem 1rem;
}
#servicesSection .card .image i {
  font-size: 4rem;
  color: #d5d5d5;
}
#servicesSection .card .image h2 {
  color: #2196f3;
}
#servicesSection .card:hover {
  transform: translateY(-10px);
}
#servicesSection .card:hover::before {
  width: 100%;
  left: 0%;
}
#servicesSection .content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  background: #f9f9f9;
}
#servicesSection .content::before {
  content: "0" counter(myCounter);
  counter-increment: myCounter;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  padding-right: 10px;
  font-size: 2em;
  font-weight: 700;
  background: #2196f3;
  color: #fff;
  -webkit-clip-path: polygon(0 0, 100% 0, calc(100% - 20px) 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, calc(100% - 20px) 100%, 0 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
#servicesSection .content::after {
  content: "";
  position: absolute;
  left: 70px;
  top: 0;
  width: 70px;
  height: 100%;
  -webkit-clip-path: polygon(20px 0, 100% 0, calc(100% - 20px) 100%, 0 100%);
  clip-path: polygon(20px 0, 100% 0, calc(100% - 20px) 100%, 0 100%);
  background-color: #d5d5d5;
}
#servicesSection p {
  padding: 1rem;
  margin: 0;
  color: #2196f3;
}

#skillsSection {
  position: relative;
  isolation: isolate;
}
#skillsSection h3 {
  position: relative;
}
#skillsSection h3::before {
  content: attr(data-percent);
  position: absolute;
  top: 0%;
  right: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2196f3;
  background-color: #fff;
  transition: 0.5s;
  font-size: 0.85rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: bold;
  padding: 2px 5px;
}
#skillsSection .progress-bar {
  background: #EEEEEE;
  width: 100%;
  height: 30px;
}
#skillsSection .progress-value {
  height: 100%;
  width: 0%;
  background-color: #2196f3;
  transition: 0.5s;
}

#worksSection {
  background-color: #ececec;
  isolation: isolate;
}
#worksSection .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
#worksSection .works-image {
  flex-basis: calc(40% - 30px);
  text-align: center;
}
@media (max-width: 992px) {
  #worksSection .works-image {
    flex-basis: 100%;
  }
}
#worksSection .cards-container {
  flex-basis: calc(57% - 30px);
}
@media (max-width: 992px) {
  #worksSection .cards-container {
    flex-basis: 100%;
  }
}
#worksSection .cards-container .card {
  position: relative;
  isolation: isolate;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  background-color: #f6f5f5;
  margin: 1em 0;
  padding: 1em;
  border: 2px solid #fff;
  border-radius: 7px;
}
@media (max-width: 575px) {
  #worksSection .cards-container .card {
    gap: 15px;
  }
}
#worksSection .cards-container .card::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  background-color: #ececec;
  transition: all 0.3s;
  z-index: -1;
}
#worksSection .cards-container .card .image {
  max-width: 65px;
}
#worksSection .cards-container .card p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 150%;
}
#worksSection .cards-container .card:hover::before {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}/*# sourceMappingURL=index.css.map */